.charsheet .sheet-grid-section {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 8% 30% 15% 15% 22% 10%;
    grid-template-areas: "name name player            "
                        "attributes skills hp         "
                        "initiative skills momentum   "
                        "lucky skills complication    "
                        "weapons skills stress          "
                        "weapons skills exp             ";
}

.ui-dialog .charsheet button[type=roll]::before {
    content: "";
}

.charsheet div.sheet-block {
    display: grid;
    justify-content: center;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
}

.charsheet div.sheet-name {
    grid-area: name;
    display: flex;
}

.charsheet div.sheet-player {
    grid-area: player;
    display: flex;
}

.charsheet div.sheet-hp {
    grid-area: hp;
}

.charsheet div.sheet-initiative {
    grid-area: initiative;
}

.charsheet div.sheet-attributes {
    grid-area: attributes;
}

.charsheet div.sheet-skills {
    grid-area: skills;
}

.charsheet div.sheet-lucky {
    grid-area: lucky;
}

.charsheet div.sheet-exp {
    grid-area: exp;
}
/*
.charsheet div.sheet-bleft {
    grid-area: bleft;
}
*/
/*
.charsheet div.sheet-bright {
    grid-area: bright;
}
*/
.charsheet input.sheet-ninput {
    width: 100%;
    display: flex!important;
}

.charsheet input.sheet-pinput {
    width: 100%;
    display: flex!important;
}

.charsheet div.sheet-name-space {
    width: 100%;
    padding: 0%!important;
    border: none!important;
    left: 5px;
}

.charsheet div.sheet-player-space {
    width: 100%;
    padding: 0%!important;
    border: none!important;
    left: 5px;
}

.charsheet div.sheet-momentum {
    grid-area: momentum;
}

.charsheet div.sheet-complication {
    grid-area: complication;
}

.charsheet div.sheet-stress {
    grid-area: stress;
}

.charsheet div.sheet-weapons {
    grid-area: weapons;
}

.charsheet h3 {
    text-align: center;
    width: 100%;
}

.charsheet input {
    float: right;
}

.charsheet h3, label, button {
    text-transform: uppercase;
}

.charsheet p {
    text-align: center;
}


.charsheet .row {
    display: inline-flex;
    padding-top: 3px;
    position: relative;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 5px;
}

.charsheet .row input {
    float: none!important;
    height: 20px!important;
    width: 35px!important;
}

.charsheet .row label {
    padding: 0px 2px 0px 0px!important;
    text-transform: none!important;
}

.charsheet .row label.button {
    height: 10px!important;
    margin-bottom: 5px!important;
    font-size: 13px!important;
}

.charsheet .sheet-ranged-1 {
    align-items: center;
}




.sheet-rolltemplate-card .sheet-template-container {
    padding: 0px;
    width: 100%;
    font-size: 1em;
    border: 3px solid black;
    border-radius: 10px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-card .sheetsheet-template-header {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: darkred;
}

.sheet-rolltemplate-card .sheet-template-header {
    font-size:1.2em;
    padding: 2px;
    text-align: center;
    background-color: brown;
    border-bottom: 1px solid black;
    color: white;
}

.sheet-rolltemplate-card .sheet-content {
    display: grid;
    background: #FFF;
    width: 100%;
    /* Header formatting - modify the column layout below */
    grid-template-columns: auto auto;
    /* Line height to match default roll template */
    line-height:1.4em;
}

.sheet-rolltemplate-card .sheet-content > div {
    padding: 5px;
    width: 100%;
}

.sheet-rolltemplate-card .sheet-container {
    background-color: white;
    padding: 0%;
}

.sheet-rolltemplate-card .sheet-template-row {
    height: 100%;
    padding: 5px;
}

.sheet-rolltemplate-card .sheet-template-row:nth-child(odd) {
    background-color: rgba(217, 217, 214,1);
}

.sheet-rolltemplate-attack .sheet-template-container {
    padding: 0px;
    width: 100%;
    font-size: 1em;
    border: 3px solid black;
    border-radius: 10px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-attack .sheetsheet-template-header {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: darkred;
}

.sheet-rolltemplate-attack .sheet-template-header {
    font-size:1.2em;
    padding: 2px;
    text-align: center;
    background-color: brown;
    border-bottom: 1px solid black;
    color: white;
}

.sheet-rolltemplate-attack .sheet-content {
    display: grid;
    background: #FFF;
    width: 100%;
    /* Header formatting - modify the column layout below */
    grid-template-columns: auto auto;
    /* Line height to match default roll template */
    line-height:1.4em;
}

.sheet-rolltemplate-attack .sheet-content > div {
    padding: 5px;
    width: 100%;
}

.sheet-rolltemplate-attack .sheet-container {
    background-color: white;
    padding: 0%;
}

.sheet-rolltemplate-attack .sheet-template-row {
    height: 100%;
    padding: 5px;
}

.sheet-rolltemplate-attack .sheet-template-row:nth-child(odd) {
    background-color: rgba(217, 217, 214,1);
}


