.charsheet .sheet-grid-section {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 8% 62% 15% 15%;
    grid-template-areas: "name name player      "
                        "attributes skills hp   "
                        "initiative skills momentum   "
                        "lucky skills complication         ";
}

.charsheet div.sheet-block {
    display: grid;
    justify-content: center;
    padding: 5px;
    border: 3px solid black;
}

.charsheet div.sheet-name {
    grid-area: name;
    display: flex;
}

.charsheet div.sheet-player {
    grid-area: player;
    display: flex;
}

.charsheet div.sheet-hp {
    grid-area: hp;
}

.charsheet div.sheet-initiative {
    grid-area: initiative;
}

.charsheet div.sheet-attributes {
    grid-area: attributes;
}

.charsheet div.sheet-skills {
    grid-area: skills;
}

.charsheet div.sheet-lucky {
    grid-area: lucky;
}

.charsheet input.sheet-ninput {
    width: 100%;
    display: flex!important;
}

.charsheet input.sheet-pinput {
    width: 100%;
    display: flex!important;
}

.charsheet div.sheet-name-space {
    width: 100%;
    padding: 0%!important;
    border: none!important;
    left: 5px;
}

.charsheet div.sheet-player-space {
    width: 100%;
    padding: 0%!important;
    border: none!important;
    left: 5px;
}

.charsheet div.sheet-momentum {
    grid-area: momentum;
}

.charsheet div.sheet-complication {
    grid-area: complication;
}

